

<h1> Here's Your Updated Schedule: </h1>

<p>
	<strong>Employee:</strong>
	<%= @schedule.employee %>
</p>

<p>
	<strong>Hours:</strong>
	<%= @schedule.hours %>
</p>

<p>
	<strong>User:</strong>
	<%= @schedule.users_id %>
</p>


<%= link_to 'Back', schedule_index_path %>
